*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
_auto_*
log/
tb*/
img*/
local_output*
*.pth
*.pth.tar
*.ckpt
*.log
*.ipynb
*.pt
unet/
AutoHDR-Qwen2-7B/
*.ttf
ckpt/
weights/